<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-2">
                <h2 class="section-heading text-center">About Me</h2>
                <hr class="light">
                <h4 class="text-faded text-center">A life-long learner pursuing a degree in Computer Science (Software Engineering) after completing HND Software Development from the City of Glasgow College.</h4>
                <br>
                <h3>Software</h3>
                <h4 class="text-faded">Visual Studio | Visual Studio Code | NetBeans | IntelliJ IDEA | SQL Server Management Studio | Azure Data Studio | Azure DevOps | GitHub</h4>
                <h3>Languages</h3>
                <h4 class="text-faded">C# | Java | SQL | JavaScript | CSS | HTML | Python | GraphQL</h4>
                <h3>Frameworks</h3>
                <h4 class="text-faded">ASP.NET | .NET MVC | .NET Core | Razor Pages | Windows Forms | Java Swing | jQuery | Bootstrap</h4>
                <h3>Cloud Services</h3>
                <h4 class="text-faded">Microsoft Azure | Aamazon Web Service (AWS) | IBM Cloud</h4>
                <h3>Other</h3>
                <h4 class="text-faded">WordPress | WooCommerce | Shopify | Hosting and Webserver Management | cPanel | REST API | JSON</h4>
            </div>
        </div>
    </div>
</section>
