<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Hi, my name is Bilal Ahmad.</h1>
            <h3 style="text-align: justify;">I'm a UK-based Software Developer, big enthusiast of full-stack development and equally at home with HTML, CSS and Javascript as I am with C#, .NET Framework, Java and various database systems. I am always in search of modern solutions to solve real-world problems and love exploring new technologies along the way. I understand the life cycle of developing software and not afraid of diving into a project at any stage. <a class="page-scroll" href="#about"><b>Scroll down</b></a> to learn more about me and some of my exciting projects.</h3>
        </div>
    </div>
</header>