<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Hi, my name is Bilal Ahmad.</h1>
            <hr>
            <p>I'm a UK-based Software Developer, a big enthusiast of full-stack development and equally at home with HTML, CSS and Javascript as I am with C#, .NET Framework, Java and RDBMS. I am always in search of modern solutions to solve real-world problems and love exploring new technologies along the way. I understand the life cycle of developing software and not afraid of diving into any code at any stage. <a href="#about">Scroll down</a> to learn more about me and some of my exciting projects.</p>
        </div>
    </div>
</header>