<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://glamourboutique.azurewebsites.net" target="_blank" class="portfolio-box">
                    <center>
                    <img src="img/portfolio/1.jpg" class="img-portfolio" alt="">
                    </center>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Azure, .NET Core, Full Stack, eCommerce, API, PayPal, Stripe
                            </div>
                            <div class="project-name">
                                Glamour Boutique (HND Final Project)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://www.learnnplay.com.au" target="_blank" class="portfolio-box">
                    <center>
                    <img src="img/portfolio/2.jpg" class="img-portfolio" alt="">
                    </center>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                WordPress, Content-based
                            </div>
                            <div class="project-name">
                                Learn n' Play Childcare (Client Project)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://codepen.io/Bilal44/full/Rqwjer" target="_blank" class="portfolio-box">
                    <center>
                    <img src="img/portfolio/3.jpg" class="img-portfolio" alt="">
                    </center>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Web App, Browser-based Game, HTML, CSS, JavaScript
                            </div>
                            <div class="project-name">
                                1-to-50 Game
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://git.io/JchtI" target="_blank" class="portfolio-box">
                    <center>
                    <img src="img/portfolio/4.jpg" class="img-portfolio" alt="">
                    </center>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Java, Android App, Mobile Development, Google Firebase
                            </div>
                            <div class="project-name">
                                College Chat
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <center>
                    <img src="img/portfolio/5.jpg" class="img-portfolio" alt="">
                    </center>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                C#, Windows Form
                            </div>
                            <div class="project-name">
                                PigLatin Translator
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://git.io/JchLs" target="_blank" class="portfolio-box">
                    <center>
                    <img src="img/portfolio/6.jpg" class="img-portfolio" alt="">
                    </center>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Java, Android App, Mobile Development, CardIOScanner
                            </div>
                            <div class="project-name">
                                Android ATM with card scanner
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>